!!! 5
html
	head
		title WebCMS
		link(rel='stylesheet', href='/vendor/bootstrap-select.min.css')
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel="stylesheet", href="/vendor/jstree/themes/default/style.min.css")
		link(rel="stylesheet", href="/vendor/qtip2/jquery.qtip.css")
		link(rel="stylesheet", href="/vendor/datepicker/datepicker.css")
		link(rel='stylesheet', href='/css/style.css')
	body
	block content
	div#footer
		div.container
			p.text-muted @firegnu 2014
	block scripts