.modal-alert.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				h4
			.modal-body
				p
			.modal-footer
				button.btn.btn-primary(type='button', data-dismiss='modal')#ok OK
