ul#contextMenu.dropdown-menu(role='menu', style='display:none')
	li
		a(tabindex='-1', href='#') 点击单选
	li
		a(tabindex='-1', href='#') 点击多选
	li
		a(tabindex='-1', href='#') 拉框选取
	li
		a(tabindex='-1', href='#') 多边形选取
	li
		a(tabindex='-1', href='#') 上传文件选取
	li
		a(tabindex='-1', href='#') 重置工具
	li.divider
	li
		a(tabindex='-1', href='#') 重置
