ul#contextMenu.dropdown-menu(role='menu', style='display:none')
	li
		a(tabindex='-1', href='#') 拉框选取
	li
		a(tabindex='-1', href='#') 点击选取
	li
		a(tabindex='-1', href='#') 点选选取
	li.divider
	li
		a(tabindex='-1', href='#') 重置
