.modal-form-errors.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				h4 Whoops!
			.modal-body
				p.subheading It looks like there was a problem.
				ul
			.modal-footer
				button.btn.btn-warning(type='button', data-dismiss='modal') OK