#layercontroller.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-layercontroller
		.modal-content
			.modal-body
				.container
					select#mapindex.form-control(name='subject', required='required')
						//option(value='na', selected='') Choose One:
						option(value='1:100万', selected='') 1:100万
						option(value='1:200万') 1:200万
						option(value='1:400万') 1:400万
						option(value='1:800万') 1:800万
						option(value='1:1400万') 1:1400万
					div
						div.col-lg-6
							div.input-group
								span.input-group-addon
									input#worldmaplayer(type="checkbox")
								input.form-control(type="text", value="底图", readonly="readonly")
					div
						div.col-lg-6
							div.input-group
								span.input-group-addon
									input#mapindexlayer(type="checkbox")
								input.form-control(type="text", value="网格", readonly="readonly")
					div
						div.col-lg-6
							div.input-group
								span.input-group-addon
									input#mapindexnumlayer(type="checkbox")
								input.form-control(type="text", value="图号", readonly="readonly")