#myhistorymodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-dialog-myhistory
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				h4
			.modal-body
				div#table-container_2
			.modal-footer
				button.cancel.btn.btn-default(type='button', data-dismiss='modal') Cancel
				button.btn.btn-primary.btn-success(type='button', data-dismiss='modal')#ok OK