.js-loading-bar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				h4 Getting Data from server, Please wait!
			.modal-body
				.progress.active.progress-striped.progress-popup
					.progress-bar.progress-bar-info(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='400', style='width: 0%;')