#searchmodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-dialog-search-download
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				h4
			.modal-body
				.container
					.row
						#searchcontent.col-md-8
							.well.well-sm
								.row
									.col-md-6
										.form-group
											label(for='name')
												| 图名
											input#searchname(type='text', placeholder='Enter name', required='required',value="awesome,neat")//.form-control
										.form-group
											label(for='subject')
												| 数据类型
											select#searchdatatypeselect.form-control(name='subject', required='required')
												//option(value='na', selected='') Choose One:
												option(value='矢量', selected='') 矢量
												option(value='DEM') DEM
												option(value='影像') 影像
												option(value='扫描图') 扫描图
												option(value='其他资料') 其他资料
										.form-group
											label(for='subject')
												| 比例尺
											select#searchblcselect.form-control(name='subject', required='required')
												//option(value='na', selected='') Choose One:
												option(value='service', selected='') 1400万
												option(value='suggestions') 300万
												option(value='product') 250万
												option(value='product') 200万
												option(value='product') 100万
												option(value='product') 50万
												option(value='product') 25万
												option(value='product') 10万
												option(value='product') 5万
												option(value='product') 2.5万
												option(value='product') 1万
												option(value='product') 其他
									.col-md-6
										#searchdescription.form-group
											label(for='name')
												| 数据描述
											textarea#message.form-control(name='message', rows='9', cols='25', required='required', placeholder='Message')
										.form-group
											label(for='name')
												| 数据名称
											input#searchdataname(type='text', placeholder='Enter name', required='required')
											//select#searchdataname//.form-control(name='subject', required='required', placeholder='Enter name')
										.form-group
											label(for='subject')
												| 数据格式
											select#searchdataformatselect.form-control(name='subject', required='required')
										#searchproduceDate.form-group
											label(for='subject')
												| 生产日期
											input#searchdatepicker.form-control(type='text')
									.col-md-12
										button#btnSearch.btn.btn-primary.pull-right
											| 搜索
				div#serarresult
			.modal-footer
				button.cancel.btn.btn-default(type='button', data-dismiss='modal') Cancel
				button.searchdownloadbtn.btn.btn-success Download